[Unit]
Description=Service unit (runner) for syngestures

[Service]
Restart=always
RestartSec=1
ExecStart=/usr/local/systemd/run-syngestures

[Install]
WantedBy=default.target
