[Unit]
Description=Service unit (runner) for script that regularly snapshots (backs up) user files
Wants=run-snapshot.timer

[Service]
ExecStart=/usr/local/bin/snapshot
RuntimeMaxSec=3600
