[Unit]
Description=Service unit (runner) for mv-stg-backups script and mv-stg-backups.path monitor
Wants=mv-stg-backups.path

[Service]
ExecStart=/usr/local/systemd/mv-stg-backups
