[Unit]
Description=Service unit (runner) for script that regularly backs up user files
Wants=run-backup.timer

[Service]
ExecStart=/usr/local/bin/do-backup
RuntimeMaxSec=3600
